/* contains header and footer rules mainly */
:root {
  /* colors сustom properties */
  --web-logo-color: #2196f3;
  --nav-text-color: #212121;
  --contacts-text-color: #757575;
  --adress-location-text-color: #ffffff;
  --address-mail-text-color: rgba(255, 255, 255, 0.6);
  --address-tel-text-color: rgba(255, 255, 255, 0.6);
  --bottom-background-color: #2f303a;
  --hover-focus-color: #2196f3;
  --current-color: #2196f3;
  --social-icons-color: #afb1b8;
  /* text custom properties */
  --logo-font-size: 26px;
  /* body */
}
body {
  font-family: roboto, sans-serif;
  color: #757575;
}
.link {
  text-decoration: none;
}
.list {
  list-style-type: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
/* pseudo classes */
.top-navigation-link:hover,
.top-navigation-link:focus,
.top-contacts-link:hover,
.top-contacts-link:focus {
  color: var(--hover-focus-color);
  fill: var(--hover-focus-color);
}
.bottom-contacts-link-location:hover,
.bottom-contacts-link-location:focus,
.bottom-contacts-link:hover,
.bottom-contacts-link:focus {
  color: var(--hover-focus-color);
}
/* other */
.transition {
  transition-property: color, background-color, border-color, box-shadow, opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* -HEADER- */
.top {
  border-bottom: 1px solid #ececec;
}
.top-container {
  display: flex;
  align-items: center;
}
/* -logo- */
.top-navigation {
  display: flex;
}
.logo-top {
  margin-right: 93px;
  margin-top: 24px;
  margin-bottom: 25px;
  color: #000000;
  font-family: Raleway;
  font-weight: 700;
  font-size: var(--logo-font-size);
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-color {
  color: var(--web-logo-color);
}
/* -menu nav- */
.top-navigation-list {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.top-navigation-link {
  position: relative;
  color: var(--nav-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
}
.top-navigation-list li:not(:last-child) {
  margin-right: 50px;
}
.current {
  position: relative;
  color: var(--current-color);
}
.current::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}
/* -contacts- */
.top-connect {
  margin-left: auto;
}
.top-contacts-list {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.top-contacts-link {
  display: flex;
  align-items: center;
  color: var(--contacts-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
}
.top-contacts-list li:not(:last-child) {
  margin-right: 30px;
}
.icon-envelope {
  margin-right: 10px;
  fill: currentColor;
}
.icon-smartphone {
  margin-right: 10px;
  fill: currentColor;
}
/* -FOOTER- */
.bottom {
  background-color: var(--bottom-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
/* -logo- */
.logo-bottom {
  display: inline-block;
  margin-bottom: 20px;
  color: #ffffff;
  font-family: Raleway;
  font-weight: 700;
  font-size: var(--logo-font-size);
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-color {
  color: var(--web-logo-color);
}
/* -adress- */
.bottom-contacts-link-location {
  display: inline-block;
  margin-bottom: 9px;
  color: var(--adress-location-text-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.bottom-contacts-link {
  display: inline-block;
  margin-bottom: 9px;
  color: var(--address-tel-text-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.bottom-contacts {
  margin-right: 70px;
}
.bottom-container {
  display: flex;
}
/* -social-links- */
.company-social-link {
  display: flex;
}
.bottom-links-text {
  color: #ffffff;
  padding-top: 12px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.bottom-social-item {
  width: 44px;
  height: 44px;
}
.bottom-social-item + .bottom-social-item {
  margin-left: 10px;
}
.bottom-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}
.bottom-social-link:hover,
.bottom-social-link:focus {
  background-color: var(--hover-focus-color);
  color: #ffffff;
}
.bottom-social-icon {
  fill: currentColor;
}
/* subscribtion */
.bottom-subscribe-text {
  font-weight: 700;
  padding-top: 12px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.bottom-subscribe-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  /* padding: 10px 28px 10px 29px; */
  background: #2196f3;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.bottom-email-input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
.subscribe-btn-img {
  padding-top: 5px;
  margin-left: 10px;
  fill: #ffffff;
}
.bottom-subscribe {
  margin-left: 93px;
}
.bottom-email-input:focus {
  border-color: var(--hover-focus-color);
}
.subscribe-field {
  display: flex;
}
.bottom-subscribe-btn:hover,
.bottom-subscribe-btn:focus {
  background-color: #188ce8;
}
